* { padding: 0; margin: 0; }

@font-face {
    font-family: "Druktextwide";
    src: url(druktextwidecyr-medium.woff2);
}

body {
    background: #fff;
    font-family: 'Druktextwide', 'Arial', sans-serif;
    text-transform: uppercase;
}

.header {
    padding: 4em;
    text-align: center;
    background: #fff;
    color: #000;
    display: flex;
    justify-content: space-around;
}

h2 {
    padding-top: 1em;
}

.container a {
    text-decoration: none;
    color: #000;
}

.container h4 {
    text-align: center;
}

.container h2 {
    padding-left: 4em;
}

.first {
    background-image: url('../img/fon.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 40em;
}

.first h1 {
    padding-right: 1em;
    padding-top: 1em;
    font-size: 5em;
    color: #fff;
    text-align: right;
}

.first .contacts {
    align-items: right;
    padding-right: 7em;
}

.first .contacts a {
    float: right;
    padding-right: 2em;
    padding-top: 2em;
}

.block {
    padding-top: 5em;
    padding-bottom: 1em;
}

.imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-gallery {
    height:18em;
    width: auto;
    
}

.second-block {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.third-block {
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.breakingnews {
    display: flex;
    flex-direction: column;
    padding-top: 1em;
}

.breakingnews div {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-right: 2em;
}

.breakingnews div img,p {
    margin: 0 3em;
}

.button-news {
    width:100%;
    padding: 0.7em;
    background-color: #1560bd;
    border: 1px solid #1560bd;
    cursor: pointer;
    text-transform:uppercase;
    font-size: 16px;
    color: #fff;
}

.button-news:hover {
    background-color: #fff;
    color: #000;
}


article {
    padding: 1em 30%;
    margin-bottom: 5em;
}

article ul li {
    list-style-type: none;
    display: block;
}

.img-deb {
    width: auto;
    height: 25em;
    margin: 1% 1%;
}

.img-list {
    width: 50%;
    height: 50%;
    margin: 1% 20%;
}

.text-list {
    text-align: justify;
    white-space:pre-line;
    text-transform: none;
    font-size: 18px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 1em;
}

.title-list {
    text-align: center;
}

.date-list {
    font-size: 12px;
    margin: 2% auto;
}

.link-list {
    padding: 0.5em;
    margin-top: 2em;
    float: right;
    background-color: #fff;
    border: 0.2em solid black;
    cursor: pointer;
}

.link-book {
    display: flex;
    flex-direction: column;
}

.link-book a {
    margin-top: 1em;
    border: 0.1em solid black;
    text-align: center;

}

.pag-nav ul{
    display: flex;
    list-style-type: none;
    margin: 0 5em 0 5em;
}

.pag-nav ul li {
    border: 0.5px solid black;
    padding: 0.5em;
    margin: 0.2em;
    font-size: 0.7em;
}

form{
    padding: 1em 30%;
}

#id_name, #id_last_name, #id_phone, #id_mail, #id_company, #id_lastName, #id_serName, #id_team {
    margin: 2% 0;
    width: 100%;
    height: 30px;
}

#id_text {
    margin: 2% 0;
    width: 100%;

}

.button-click {
    width:100%;
    padding: 2% 0 2% 0;
    background-color: #fff;
    border: 1px solid black;
    cursor: pointer;
    text-transform:uppercase;
    font-size: 16px;
}

.button-click:hover {
    background-color: #000;
    color: #fff;
}

footer{
    border-top: #000 1px solid;
    margin-bottom: 1em;
}

.contactsFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

@media screen and (max-width: 768px) {
    article {
        padding: 0.5em 1.2em 0.5em 1.2em;
    }
    .text-list {
        font-size: 12px;
    }
    .title-list {
        font-size: 14px;
    }
    .date-list {
        font-size: 9px;
    }
    .first h1 {
        font-size: 35px;
        text-align: center;
        padding-top: 0;
    }
    .first .contacts {
        height: 20px;
        padding:0;
    }

    .first .contacts a {
        padding-top: 110px;
        padding-right: 0;
    }
    .first {
        height: 20em;
    }
    .second-block {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
    }
    .second-block a img {
        padding-left: 20%;
    }

    .third-block {
        padding-top: 1em;
        display: flex;
        flex-direction: column;
    }
    .img-deb {
        padding-left: 2em;
    }
    .header {
        text-align: center;
        background: #fff;
        color: #000;
        display: block;
        font-size: 10px;
    }
}