{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="header">
        <h1>Дебаты! Кызыл!<br> За и Против!</h1>
    </div>
    <div class="second">
        <h2>Игра, которая меняет мировоззрение!</h2>
        <div class="second-block">
            <p class="text-list" style="padding-left: 5em;">
                Дебаты - это интеллектуальная игра, спор по установленным правилам. <br><br>Игра развивает навыки критического мышления,
                умения отстаивать свою позицию, проявления терпимости к другим точкам зрения, расширения кругозора, мировоззрения.
                <br><br>Дебаты берут свое начало из Древней Греции, где они были важным элементом демократии. Сейчас дебаты используются для получения 
                знаний и умений, необходимых для преуспевания в современном демократическом обществе.<br><br> Игра "Дебаты" стимулирует творческую,
                поисковую деятельность, тщательную проработку изучаемого материала.<br><br>(Т.Светенко "Путеводитель по Дебатам")
            </p>
        </div>
        <div class="third-block">
            <img class="img-deb" src="/static/img/debaty1.jpg" alt="new"/>
            <img class="img-deb" src="/static/img/debaty3.jpg" alt="new"/>
            <img class="img-deb" src="/static/img/debaty2.jpg" alt="new"/>
        </div>
    </div>
    <div class="second">
        <h2>{{news.title}}</h2>
        <div class="second-block">
            <img class="img-deb" src="{{news.image}}" alt="new"/>
            <p class="text-list" style="padding-left: 5em;">
                {{news.text}}
            </p>
        </div>
    </div>
    <div class="breakingnews">
        <h2>Мы есть в телеграме!</h2>
        <div>
            <img class="img-deb" src="/static/img/telegram.jpg" alt="new"/>
            <p style="padding-left: 5em;" class="text-list">
                У нас есть Телеграм-группа, в которой мы делимся различной информацией, предлагаем идеи, обсуждаем тематики, 
                на которые хотелось бы поспорить! В группе есть несколько разделов, чтобы оперативно можно было найти любую информацию.
                <br><br>Также в группе делимся новыми знаниями, статьями, подкастами, интервью профессионалов в области конфликтологии, искусства речи
                и смежных областей.<br><br>Чтобы вступить в группу - нажмите на QR-код или наведите камеру телефона.
            </p>
        </div>
        <div>
            <a href="{{ news.link }}"><button type="submit" class="button-news">Перейти</button></a>
        </div>
    </div>
</div>
{% endblock %}