{% extends 'base.html' %}
{% block content %}
<article>
    <ul>
        <li>
            <h1 class="title-list">{{ book.name }}</h1>
        </li>
        <li class="date-list">
            Дата публикации: {{ book.created_at|date:"d E Y" }}
        </li>
        <li>
            <img src="{{ book.image.url }}" class="img-list"/>
        </li>
        <li>
            <p class="text-list">{{ book.description }}</p>
        </li>
    </ul>
    <div class="link-book">
        <a href="{% url 'kudrin:book_review' book.pk %}" target="_blank">Читать отзывы (рецензии) ➟</a>
        {% if not book.link_1 is None %}
            <a href="{{ book.link_1 }}" target="_blank">Купить в {{ book.name_1 }} ➟</a>
        {% elif not book.link_2 is None %}
            <a href="{{ book.link_2 }}" target="_blank">Купить в {{ book.name_2 }} ➟</a>
        {% elif not book.link_3 is None %}
            <a href="{{ book.link_3 }}" target="_blank">Купить в {{ book.name_3 }} ➟</a>
        {% endif %}
        {% if book.count > 0 %}
        <a href="{% url 'kudrin:book_query' book.pk %}" target="_blank">Купить у автора (осталось {{ book.count }}) ➟</a>
        {% endif %}
        <a href="{% url 'kudrin:create_review' book.pk %}">Оставить отзыв (рецензию) ➟</a>
    </div>
</article>
{% endblock %}
